body {
  background-image:  url("./assets/christmas.jpeg");
  /* background-color: #cccccc; */
  /* background-repeat: no-repeat; */
  width: 100%;
}
p{
 color: rgb(95, 71, 4);
font-size: larger;
font-weight: bolder;
font-style:italic
}
a{
  color: rgb(126, 118, 6);
}
.App-card{
  background-image:  url("./assets/WinteHoliday.jpg");
  width: 80%;
  height: 40%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}



